<ol class="breadcrumb">
  <li><a href="#/">Home</a></li>
  <li><a href="#/cart">Cart</a></li>
  <li class="active">Checkout</li>
</ol>
<h1 ng-if="ctrl.order.details.length === 0">Your cart is empty, <a href="#products">click here to start shopping</a></h1>
<div ng-if="ctrl.order.details.length > 0">
  <div class="row">
    <div class="col-sm-3">
      <label class="text-primary">Shipping Address</label>
      <div order-address="ctrl.order.shippingAddress"></div>
    </div>
    <div class="col-sm-3">
      <label class="text-primary">Billing Address</label>
      <div order-address="ctrl.order.billingAddress"></div>
    </div>
    <div class="col-sm-6">
      <table class="table table-striped table-hover cart-table">
        <thead>
          <tr>
            <th class="text-center">&nbsp;</th>
            <th class="text-right">Price</th>
            <th class="text-right">Quantity</th>
            <th class="text-right">Total</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="item in ::ctrl.order.details track by item.itemId">
            <td>
              <a href="javascript:void(0)" ng-bind="::item.itemId"></a>
            </td>
            <td class="text-right price" ng-bind="::item.unitPrice | toCurrency"></td>
            <td class="text-right quantity" ng-bind="::item.quantity"></td>
            <td class="text-right subtotal" ng-bind="::(item.unitPrice * item.quantity) | toCurrency"></td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <th colSpan="5" class="text-right subtotal" ng-bind="::ctrl.order.subTotal | toCurrency"></th>
          </tr>
        </tfoot>
      </table>
      <button type="button" class="btn btn-sm btn-primary pull-right" ng-click="ctrl.placeOrder()">
          <span class='glyphicon glyphicon-ok' aria-hidden="true"></span>
          Order
      </button>
    </div>
  </div>
</div>
<script type="text/ng-template" id="orderResultMessage.html">
  <div class="modal-header">
    <button type="button" class="close" ng-click="$close()"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title">Place Order Success</h4>
  </div>
  <div class="modal-body">
    Your order <span class="text-primary" ng-bind="mctrl.orderId"></span> has been processed. <br />
    You can view your order history by going to the <a href="javascript:void(0)">My Orders</a>
  </div>
  <div class="modal-footer row">
    <div class="col-sm-12">
      <button type="button" class="btn btn-sm btn-default" ng-click="mctrl.ok()">OK</button>
    </div>
  </div>
</script>
