<div>
  <ol class="breadcrumb">
    <li><a ng-link="home" translate>breadcrumb.home</a></li>
    <li><a ng-link="products" translate>breadcrumb.products</a></li>
    <li class="active" ng-bind="::product.data.name"></li>
  </ol>
  <div class="row">
    <div class="col-sm-6">
      <div class="panel panel-default product-item text-center">
        <div class="panel panel-body">
          <div product-image product-id="::product.data.id"></div>
        </div>
        <div class="panel panel-footer">
          <div class="btn-group" role="group">
            <button type="button" class="btn btn-sm btn-default"
                    ng-repeat="item in ::product.data.items track by item.id"
                    ng-bind="item.name"
                    ng-class="{'btn-primary': item.id === product.activeItem.id}"
                    ng-click="product.activeItem = item">
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="row">
        <div class="col-sm-12"><h3 ng-bind="::product.data.name"></h3></div>
        <div class="col-sm-12"><p ng-bind="::product.data.description"></p></div>
        <div class="col-sm-12"><h3 ng-bind="product.toCurrency(product.activeItem.price)"></h3></div>
        <div class="col-sm-3">
          <input  type="number" class="form-control text-right"
                  min="1" max="{{product.activeItem.quantity}}" step="1"
                  ng-model="product.quantity"
                  ng-if="product.activeItem.quantity > 0" />
          <input  type="text" class="form-control text-right" disabled="disabled"
                  ng-if="product.activeItem.quantity === 0" />
        </div>
        <div class="col-sm-3">
          <button type="button" class="btn btn-sm btn-primary"
                  ng-if="product.activeItem.quantity > 0"
                  ng-click="product.addToCart()">
            <span className='glyphicon glyphicon-shopping-cart' aria-hidden="true"></span>
            <span translate>product.action.add.to.cart</span>
          </button>
          <button type="button" class="btn btn-sm btn-danger" disabled="disabled"
                  ng-if="product.activeItem.quantity === 0" translate>
            <span translate>product.action.sold.out</span>
          </button>
        </div>
      </div>
    </div>
    <div class="col-sm-12">
      <h2 translate>product.title.reviews</h2>
      <div class="well" ng-repeat="review in ::product.data.reviews track by review.id">
        <h3><strong ng-bind="::review.headline"></strong></h3>
        <p class="text-muted"><strong ng-bind="::review.author"></strong></p>
        <p ng-bind="::review.content"></p>
      </div>
    </div>
  </div>
</div>