.navbar-nav > li > a {
    padding: 10px 15px;
    position: relative;
}
.navbar-nav > li > a .glyphicon {
    font-size: 24px;    
}
.my-cart .quantity {
    position: absolute;
    top: 3px;
    color: #fff;
    background-color: #007aff; 
}
.my-cart .total-price {  
}
.main-container {
    margin-top: 51px;
}
.api-frame {
    margin-top: 20px;
    height: 560px;
}
.api-frame .embed-responsive iframe {
    width: 900px;
    height: 440px;
    left: 50%;
    margin-left: -450px;
}
.slide-title {
    width: 1240px;
    height: 600px;
    background: transparent url('../products/hp-mq-phones-multiple.jpg') no-repeat center top;
}
.slide-title > a {
    display: block;
    width: 280px;
    height: 450px;    
    margin-top:150px;
    margin-right: 5px;
}
.slide-title > a:focus, .slide-title > a:hover {
    border: 1px solid #007aff;
}
.slide-title > a:first-child {
    margin-left: 60px;
}
.cart-table .index {
    width: 50px;
}
.cart-table .price {
    width: 150px;
}
.cart-table .quantity {
    width: 100px;
}
.cart-table .subtotal {
    width: 150px;
}
.cart-table .action {
    width: 250px;
}