<div>
  <ol class="breadcrumb">
    <li><a ng-link="home" translate>breadcrumb.home</a></li>
    <li><a ng-link="cart" translate>breadcrumb.cart</a></li>
    <li class="active" translate>breadcrumb.checkout</li>
  </ol>
  <div cart-empty ng-if="checkout.data.details.length === 0"></div>
  <div ng-if="checkout.data.details.length > 0">
    <div class="row">
      <div class="col-sm-3">
        <label class="text-primary" translate>checkout.title.address.shipping</label>
        <div order-address="::checkout.data.shippingAddress"></div>
      </div>
      <div class="col-sm-3">
        <label class="text-primary" translate>checkout.title.address.billing</label>
        <div order-address="::checkout.data.billingAddress"></div>
      </div>
      <div class="col-sm-6">
        <table class="table table-striped table-hover cart-table">
          <thead>
            <tr>
              <th class="text-center">&nbsp;</th>
              <th class="text-right" translate>common.field.price</th>
              <th class="text-right" translate>common.field.quantity</th>
              <th class="text-right" translate>common.field.total</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="item in ::checkout.data.details track by item.itemId">
              <td>
                <a href="javascript:void(0)" ng-bind="::item.itemId"></a>
              </td>
              <td class="text-right price" ng-bind="checkout.toCurrency(item.unitPrice)"></td>
              <td class="text-right quantity" ng-bind="::item.quantity"></td>
              <td class="text-right subtotal" ng-bind="checkout.toCurrency(item.unitPrice * item.quantity)"></td>
            </tr>
          </tbody>
          <tfoot>
            <tr>
              <th colSpan="5" class="text-right subtotal" ng-bind="checkout.toCurrency(checkout.data.subTotal)"></th>
            </tr>
          </tfoot>
        </table>
        <button type="button" class="btn btn-sm btn-primary pull-right" ng-click="checkout.placeOrder()">
            <span class='glyphicon glyphicon-ok' aria-hidden="true"></span>
            <span translate>checkout.action.order</span>
        </button>
      </div>
    </div>
  </div>
</div>