<li dropdown>
  <a ng-if="!ctrl.loginUser.username" href="javascript:void(0)" ng-click="ctrl.login()">
    <span class='glyphicon glyphicon-log-in' aria-hidden="true"></span><span ng-bind="ctrl.loginUser.username"></span>
  </a>
  <a ng-if="ctrl.loginUser.username" dropdown-toggle>
    <span class='glyphicon glyphicon-user' aria-hidden="true"></span>
  </a>
  <ul class="dropdown-menu" aria-labelledby="simple-dropdown">
    <li>
      <a href="#/orders">My Orders</a>
    </li>
    <li role="separator" className="divider"></li>
    <li>
      <a href="javascript:void(0)" ng-click="ctrl.logout()">Logout</a>
    </li>
  </ul>
</li>
