<li dropdown>
  <a ng-if="!account.loginUser.username" href="javascript:void(0)" ng-click="account.login()">
    <span class='glyphicon glyphicon-log-in' aria-hidden="true"></span><span ng-bind="account.loginUser.username"></span>
  </a>
  <a ng-if="account.loginUser.username" dropdown-toggle>
    <span class='glyphicon glyphicon-user' aria-hidden="true"></span>
  </a>
  <ul class="dropdown-menu" aria-labelledby="simple-dropdown">
    <li>
      <a ng-link="orders" translate>account.action.my.orders</a>
    </li>
    <li role="separator" className="divider"></li>
    <li>
      <a href="javascript:void(0)" ng-click="account.logout()" translate>account.action.logout</a>
    </li>
  </ul>
</li>